use master;
go

IF DB_ID('QuanLyQuanCafe') IS NOT NULL
BEGIN
    ALTER DATABASE QuanLyQuanCafe SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE QuanLyQuanCafe;
END
GO

CREATE DATABASE QuanLyQuanCafe
GO

USE QuanLyQuanCafe;
GO

CREATE TABLE TableFood (
	id int identity primary key,
	name nvarchar(100) not null default N'bàn chưa có tên',
	status nvarchar(100) not null default N'Trống'
);
GO

CREATE TABLE Account (
	username nvarchar(100) primary key,
	displayname nvarchar(100) not null default N'2',
	[password] nvarchar(1000) default N'0',
	type int not null default 0
);
GO

CREATE TABLE FoodCategory (
	id int identity primary key,
	name nvarchar(100) not null default N'chưa đặt tên'
);
GO

CREATE TABLE Food (
	id int identity primary key,
	name nvarchar(100) not null default N'chưa đặt tên',
	idCategory int not null,
	price float not null default 0,
	foreign key (idCategory) references dbo.foodcategory(id)
);
GO

create TABLE Bill (
	id int identity primary key,
	datecheckin date not null default getdate(),
	datecheckout date,
	idTable int not null,
	status int not null default 0,
	discount int not null default 0,
	totalPrice FLOAT NOT NULL DEFAULT 0,
	foreign key (idTable) references dbo.tablefood(id)
);
GO

CREATE TABLE BillInfo (
	id int identity primary key,
	idBill int not null,
	idFood int not null,
	count int not null default 0,
	foreign key (idBill) references dbo.bill(id),
	foreign key (idFood) references dbo.food(id)
);
GO

INSERT INTO dbo.Account(username, displayname, [password], type)
VALUES (N'2', N'2', N'1', 1),
       (N'staff', N'staff', N'1', 0);
GO

CREATE PROC usp_getaccountbyusername
@username nvarchar(100)
AS
BEGIN	
    SELECT * FROM dbo.Account WHERE username = @username
END;
GO

EXEC dbo.usp_getaccountbyusername @username = N'2';
GO

CREATE PROC USP_Login
@username nvarchar (100), @password nvarchar (100)
AS
BEGIN
    SELECT * FROM dbo.Account WHERE UserName = @username AND Password = @password
END;
GO

DECLARE @i INT = 0;
WHILE @i <= 10
BEGIN
    INSERT dbo.TableFood (name) VALUES (N'Bàn ' + CAST(@i AS nvarchar(100)));
    SET @i = @i + 1;
END;
GO

CREATE PROC USP_GetTableList
AS 
    SELECT * FROM dbo.TableFood;
GO

EXEC dbo.USP_GetTableList;
GO

-- Thêm Category
INSERT dbo.FoodCategory (name) VALUES 
(N'Cafe Việt Nam'),
(N'Cafe Quốc Tế'),
(N'Các loại trà'),
(N'Bánh ngọt');
GO

-- Thêm Food
INSERT dbo.Food (name, idCategory, price) VALUES
(N'Cafe Đen ( đá/nóng )', 1, 15000),
(N'Cafe Đen Sữa ( đá/nóng )', 1, 20000),
(N'Bạc xỉu', 1, 23000),
(N'Cà phê muối', 1, 25000),
(N'Cà phê trứng', 1, 35000),
(N'Espresso ( single/double )', 2, 30000),
(N'Americano', 2, 35000),
(N'Cappuccino', 2, 40000),
(N'Latte', 2, 40000),
(N'Caramel Macchiato', 2, 45000),
(N'Trà đào cam sả', 3, 30000),
(N'Trà chanh sả mật ong', 3, 28000),
(N'Trà sen vàng', 3, 30000),
(N'Trà vải hoa hồng', 3, 32000),
(N'Bánh tiramisu mini', 4, 32000),
(N'Bánh phô mai Nhật', 4, 40000);
GO

create proc USP_InsertBill
@idTable INT
AS
Begin
	INSERT dbo.Bill (datecheckin, datecheckout, idTable, status, discount) 
	VALUES (getdate(), null, @idTable, 0, 0)
end
go

CREATE PROC [dbo].[USP_InsertBillInfo]
@idBill INT, @idFood INT, @count INT
AS
BEGIN
    DECLARE @isExitsBillInfo INT
    DECLARE @foodCount INT = 1

    SELECT @isExitsBillInfo = id, @foodCount = b.count 
    FROM dbo.BillInfo AS b 
    WHERE idBill = @idBill AND idFood = @idFood

    IF (@isExitsBillInfo > 0)
    BEGIN
        DECLARE @newCount INT = @foodCount + @count
        IF (@newCount > 0)
            UPDATE dbo.BillInfo 
            SET count = @newCount 
            WHERE idBill = @idBill AND idFood = @idFood -- ✅ chính xác
        ELSE
            DELETE dbo.BillInfo 
            WHERE idBill = @idBill AND idFood = @idFood
    END
    ELSE
    BEGIN
        INSERT dbo.BillInfo (idBill, idFood, count)
        VALUES (@idBill, @idFood, @count)
    END
END
GO

DROP TRIGGER IF EXISTS UTG_UpdateBillInfo;
GO

CREATE TRIGGER UTG_UpdateBillInfo
ON dbo.BillInfo
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    DECLARE @idBill INT;

    -- Lấy idBill từ bảng inserted (nếu có)
    SELECT TOP 1 @idBill = idBill FROM inserted;

    -- Nếu inserted không có → lấy từ deleted
    IF (@idBill IS NULL)
        SELECT TOP 1 @idBill = idBill FROM deleted;

    IF (@idBill IS NULL)
        RETURN;

    DECLARE @idTable INT;
    SELECT @idTable = idTable FROM dbo.Bill WHERE id = @idBill;

    DECLARE @count INT;
    SELECT @count = COUNT(*) FROM dbo.BillInfo WHERE idBill = @idBill;

    IF (@count > 0)
        UPDATE dbo.TableFood SET status = N'Có người' WHERE id = @idTable;
    ELSE
        UPDATE dbo.TableFood SET status = N'Trống' WHERE id = @idTable;
END
GO


create TRIGGER UTG_UpdateBillInfo
ON dbo.BillInfo FOR INSERT, UPDATE
AS
BEGIN
    DECLARE @idBill INT;

    SELECT @idBill = idBill FROM inserted;

    DECLARE @idTable INT;

    SELECT @idTable = idTable FROM dbo.Bill WHERE id = @idBill AND status = 0;

	declare @countBillInfo int
	select count (*) from dbo.BillInfo where id = @idBill

	declare @count int
	select @count = count(*) from dbo.BillInfo where idBill = @idBill

	if (@count > 0)
	UPDATE dbo.TableFood SET status = N'Có người' WHERE id = @idTable;

	else
	UPDATE dbo.TableFood SET status = N'Trống' WHERE id = @idTable;
END
go

create trigger UTG_UpdateBill
On dbo.Bill for update
as
begin	
	declare @idBill int

	select @idBill = id from inserted

	declare @idTable int

	select @idTable = idTable from dbo.Bill where id = @idBill

	declare @count int = 0

	select @count = count(*) from dbo.Bill where idTable = @idTable and status = 0

	if (@count = 0 )
		update dbo.TableFood set status = N'Trống' where id  = @idTable
end
go

create PROC USP_SwitchTable
    @idTable1 INT,
    @idTable2 INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @idFirstBill INT, @idSecondBill INT;
        DECLARE @isFirstTableEmpty INT = 1, @isSecondTableEmpty INT = 1;

        SELECT @idFirstBill = id FROM dbo.Bill WHERE idTable = @idTable1 AND status = 0;
        SELECT @idSecondBill = id FROM dbo.Bill WHERE idTable = @idTable2 AND status = 0;

        -- Nếu bàn 1 chưa có bill đang mở -> tạo bill mới
        IF (@idFirstBill IS NULL)
        BEGIN
            INSERT dbo.Bill (datecheckin, datecheckout, idTable, status) 
            VALUES (GETDATE(), NULL, @idTable1, 0);

            SELECT @idFirstBill = SCOPE_IDENTITY();
        END

        -- Nếu bàn 2 chưa có bill đang mở -> tạo bill mới
        IF (@idSecondBill IS NULL)
        BEGIN
            INSERT dbo.Bill (datecheckin, datecheckout, idTable, status) 
            VALUES (GETDATE(), NULL, @idTable2, 0);

            SELECT @idSecondBill = SCOPE_IDENTITY();
        END

        -- Kiểm tra bill hiện có món không
        SELECT @isFirstTableEmpty = COUNT(*) FROM dbo.BillInfo WHERE idBill = @idFirstBill;
        SELECT @isSecondTableEmpty = COUNT(*) FROM dbo.BillInfo WHERE idBill = @idSecondBill;

        -- Lưu id của BillInfo bên bàn 2 vào bảng tạm
        SELECT id INTO #idBillInfoTable FROM dbo.BillInfo WHERE idBill = @idSecondBill;

        -- Đổi các món của bill 1 sang bill 2
        UPDATE dbo.BillInfo SET idBill = @idSecondBill WHERE idBill = @idFirstBill;

        -- Đổi các món của bill 2 (đã lưu) sang bill 1
        UPDATE dbo.BillInfo SET idBill = @idFirstBill WHERE id IN (SELECT id FROM #idBillInfoTable);

        DROP TABLE #idBillInfoTable;

        -- Cập nhật trạng thái bàn 1
        IF EXISTS (SELECT 1 FROM dbo.BillInfo WHERE idBill = @idFirstBill)
            UPDATE dbo.TableFood SET status = N'Có người' WHERE id = @idTable1;
        ELSE
            UPDATE dbo.TableFood SET status = N'Trống' WHERE id = @idTable1;

        -- Cập nhật trạng thái bàn 2
        IF EXISTS (SELECT 1 FROM dbo.BillInfo WHERE idBill = @idSecondBill)
            UPDATE dbo.TableFood SET status = N'Có người' WHERE id = @idTable2;
        ELSE
            UPDATE dbo.TableFood SET status = N'Trống' WHERE id = @idTable2;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO

create proc USP_GetListBillByDate
@checkIn date, @checkOut date
as
begin
	select t.name as [Tên bàn], b.totalPrice as [Tổng tiền], datecheckin as [Ngày vào], datecheckout as [Ngày ra], discount as [Giảm giá]
	from dbo.Bill as b, dbo.TableFood as t
	where datecheckin >= @checkIn and datecheckout <= @checkOut and b.status = 1
	and t.id = b.idTable
end
go

create or ALTER PROC USP_UpdateAccount
@username nvarchar(100), 
@displayname nvarchar(100), 
@password nvarchar(100), 
@newpassword nvarchar(100)
AS
BEGIN
    DECLARE @isRightPass INT = 0

    SELECT @isRightPass = COUNT(*) 
    FROM dbo.Account 
    WHERE UserName = @username AND Password = @password

    IF (@isRightPass = 1)
    BEGIN
        IF (@newpassword IS NULL OR @newpassword = '')
        BEGIN
            UPDATE dbo.Account 
            SET DisplayName = @displayname 
            WHERE UserName = @username
        END
        ELSE
        BEGIN
            UPDATE dbo.Account 
            SET DisplayName = @displayname, Password = @newpassword 
            WHERE UserName = @username
        END
    END
END
GO

ALTER TABLE dbo.Food
ADD
    resourcename NVARCHAR(100) NULL,
    description NVARCHAR(MAX) NULL,
    image NVARCHAR(MAX) NULL;


-- Cafe Việt Nam
UPDATE dbo.Food SET 
    description = N'Hương vị cổ điển, đắng nhẹ đầu lưỡi, ấm áp lan tỏa từng giọt.',
    resourcename = 'CafeDenDa'
WHERE name = N'Cafe Đen ( đá/nóng )';

UPDATE dbo.Food SET 
    description = N'Sự hòa quyện mượt mà giữa vị đắng cà phê và ngọt thơm sữa tươi, dịu dàng như nắng sớm.',
    resourcename = 'CafeDenSua'
WHERE name = N'Cafe Đen Sữa ( đá/nóng )';

UPDATE dbo.Food SET 
    description = N'Lớp bọt sữa dày mịn ôm trọn từng giọt cafe đậm đặc, ngọt ngào như một nụ cười tinh nghịch.',
    resourcename = 'BacXiu'
WHERE name = N'Bạc xỉu';

UPDATE dbo.Food SET 
    description = N'Đột phá vị giác với sự hòa quyện muối biển tinh khiết, tạo chiều sâu đậm đà khó quên.',
    resourcename = 'CaPheMuoi'
WHERE name = N'Cà phê muối';

UPDATE dbo.Food SET 
    description = N'Vị trứng béo ngậy nâng tầm cà phê lên đẳng cấp, ngọt dịu, mượt mà như lụa là.',
    resourcename = 'CaPheTrung'
WHERE name = N'Cà phê trứng';

-- Cafe Quốc Tế
UPDATE dbo.Food SET 
    description = N'Tinh túy nhỏ giọt, hương thơm nồng nàn, đánh thức mọi giác quan trong tích tắc.',
    resourcename = 'EspressoSingle'
WHERE name = N'Espresso ( single/double )';

UPDATE dbo.Food SET 
    description = N'Cảm giác nhẹ nhàng, thanh thoát như sương mai, vị đắng liu riu quyện cùng hơi nước ấm.',
    resourcename = 'Americano'
WHERE name = N'Americano';

UPDATE dbo.Food SET 
    description = N'Ba tầng hương: cafe đậm, sữa mịn, bọt bông xốp; tuyệt tác nghệ thuật trong tách.',
    resourcename = 'Cappuccino'
WHERE name = N'Cappuccino';

UPDATE dbo.Food SET 
    description = N'Mềm mại như khúc nhạc du dương, vị sữa thơm ngọt ôm tròn hạt cafe rang xay kỹ lưỡng.',
    resourcename = 'Latte'
WHERE name = N'Latte';

UPDATE dbo.Food SET 
    description = N'Vũ điệu ngọt ngào của caramel tan chảy trên nền cafe đậm, chinh phục mọi tâm hồn ưa ngọt.',
    resourcename = 'CaramelMacchiato'
WHERE name = N'Caramel Macchiato';

-- Các loại trà
UPDATE dbo.Food SET 
    description = N'Tinh chất đào tươi, cam thanh mát và sả nồng ấm, bản hòa ca sảng khoái cho ngày dài.',
    resourcename = 'TraDaoCamSa'
WHERE name = N'Trà đào cam sả';

UPDATE dbo.Food SET 
    description = N'Chanh tươi chua nhẹ, sả thơm nồng và mật ong ngọt dịu, thanh lọc cơ thể tự nhiên.',
    resourcename = 'TraChanhSaMatOng'
WHERE name = N'Trà chanh sả mật ong';

UPDATE dbo.Food SET 
    description = N'Hương sen thanh tao, vị ngọt thoang thoảng, đưa tâm hồn lạc giữa cánh đồng sương sớm.',
    resourcename = 'TraSenVang'
WHERE name = N'Trà sen vàng';

UPDATE dbo.Food SET 
    description = N'Vị vải ngọt ngào kết hợp cùng hương hoa hồng lãng mạn, như gửi gắm yêu thương say đắm.',
    resourcename = 'TraVaiHoaHong'
WHERE name = N'Trà vải hoa hồng';

-- Bánh ngọt
UPDATE dbo.Food SET 
    description = N'Lớp kem mascarpone béo ngậy hòa cùng bông lan thấm cà phê, thơm nồng, tan chảy trong miệng.',
    resourcename = 'BanhTiramisuMini'
WHERE name = N'Bánh tiramisu mini';

UPDATE dbo.Food SET 
    description = N'Phiên bản phô mai Nhật thanh nhẹ, hấp dẫn với lớp vỏ béo mịn và phần nhân mềm mượt.',
    resourcename = 'BanhPhoMaiNhat'
WHERE name = N'Bánh phô mai Nhật';

CREATE TRIGGER UTG_DeleteBillInfo
ON dbo.BillInfo FOR DELETE
AS 
BEGIN
	DECLARE @idBillInfo INT
	DECLARE @idBill INT
	SELECT @idBillInfo = id, @idBill = Deleted.idBill FROM Deleted

	DECLARE @idTable INT
	SELECT @idTable idTable FROM dbo.Bill WHERE id = @idBill

	DECLARE @count INT = 0
	SELECT @count = COUNT(*) FROM dbo.BillInfo AS bi, dbo.Bill AS b WHERE b.id = bi.idBill AND b.id = @idBill AND b.status = 0

	IF (@count = 0)
	UPDATE dbo. TableFood SET status = N'Trống' WHERE id = @idTable
END
GO