USE master;
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyQuanCafe')
BEGIN
    ALTER DATABASE QuanLyQuanCafe SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE QuanLyQuanCafe;
END;
GO

CREATE DATABASE QuanLyQuanCafe;
GO

USE QuanLyQuanCafe;
GO

CREATE TABLE TableFood (
	id int identity primary key,
	name nvarchar(100) not null default N'bàn chưa có tên',
	status nvarchar(100) not null default N'Trống'
);
GO

CREATE TABLE Account (
	username nvarchar(100) primary key,
	displayname nvarchar(100) not null default N'Khang',
	[password] nvarchar(1000) default 0,
	type int not null default 0
);
GO

CREATE TABLE FoodCategory (
	id int identity primary key,
	name nvarchar(100) not null default N'chưa đặt tên'
);
GO

CREATE TABLE Food (
	id int identity primary key,
	name nvarchar(100) not null default N'chưa đặt tên',
	idcategory int not null,
	price float not null default 0,
	foreign key (idcategory) references dbo.foodcategory(id)
);
GO

CREATE TABLE Bill (
	id int identity primary key,
	datecheckin date not null default getdate(),
	datecheckout date,
	idtable int not null,
	status int not null default 0,
	foreign key (idtable) references dbo.tablefood(id)
);
GO

CREATE TABLE BillInfo (
	id int identity primary key,
	idbill int not null,
	idfood int not null,
	count int not null default 0,
	foreign key (idbill) references dbo.bill(id),
	foreign key (idfood) references dbo.food(id)
);
GO

INSERT INTO dbo.account(username, displayname, [password], type)
VALUES (N'Khangluu', N'Khang', N'1', 1),
       (N'staff', N'staff', N'1', 0);
GO

CREATE PROC usp_getaccountbyusername
@username nvarchar(100)
AS
BEGIN	
    SELECT * FROM dbo.account WHERE username = @username
END;
GO

EXEC dbo.usp_getaccountbyusername @username = N'Khangluu';
GO

SELECT * FROM dbo.account WHERE username = N'' OR 1=1;
GO

CREATE PROC USP_Login
@username nvarchar (100), @password nvarchar (100)
AS
BEGIN
    SELECT * FROM dbo.Account WHERE UserName = @username AND Password = @password
END;
GO

DECLARE @i INT = 0;
WHILE @i <= 10
BEGIN
    INSERT dbo.TableFood (name) VALUES (N'Bàn ' + CAST(@i AS nvarchar(100)));
    SET @i = @i + 1;
END;
GO

CREATE PROC USP_GetTableList
AS 
    SELECT * FROM dbo.TableFood;
GO

UPDATE dbo.TableFood SET status = N'Có người' WHERE id = 9;
GO

EXEC dbo.USP_GetTableList;
GO

-- Thêm Category
INSERT dbo.FoodCategory (name) VALUES 
(N'Cafe Việt Nam'),
(N'Cafe Quốc Tế'),
(N'Các loại trà'),
(N'Bánh ngọt');
GO

-- Thêm Food
INSERT dbo.Food (name, idcategory, price) VALUES
(N'Cafe Đen ( đá/nóng )', 1, 15000),
(N'Cafe Đen Sữa ( đá/nóng )', 1, 20000),
(N'Bạc xỉu', 1, 23000),
(N'Cà phê muối', 1, 25000),
(N'Cà phê trứng', 1, 35000),
(N'Espresso ( single/double )', 2, 30000),
(N'Americano', 2, 35000),
(N'Cappuccino', 2, 40000),
(N'Latte', 2, 40000),
(N'Caramel Macchiato', 2, 45000),
(N'Trà đào cam sả', 3, 30000),
(N'Trà chanh sả mật ong', 3, 28000),
(N'Trà sen vàng', 3, 30000),
(N'Trà vải hoa hồng', 3, 32000),
(N'Bánh tiramisu mini', 4, 32000),
(N'Bánh phô mai Nhật', 4, 40000);
GO

-- Thêm Bill
INSERT dbo.Bill (datecheckin, datecheckout, idtable, status) VALUES
(getdate(), null, 1, 0),
(getdate(), null, 2, 0),
(getdate(), null, 3, 1);
GO

-- Thêm Bill Info
INSERT dbo.BillInfo (idbill, idfood, count) VALUES
(1, 1, 2),
(1, 3, 4),
(1, 3, 1),
(2, 1, 2),
(2, 2, 2),
(3, 4, 2);
GO

create proc USP_InsertBill
@idTable INT
AS
Begin
	INSERT dbo.Bill (datecheckin, datecheckout, idtable, status) VALUES 
	(getdate(), null, @idTable, 0)
end
go

create proc USP_InsertBillInfo
@idBill INT, @idFood INT, @count INT
AS
Begin

	declare @isExitsBillInfo int;

	declare @FoodCount int = 1;

	select @isExitsBillInfo = id, @FoodCount = count 
	from dbo.BillInfo
	where idBill = @idBill and idFood = @idFood
	
	if (@isExitsBillInfo > 0)
	begin
		declare @newCount int = @foodCount * @count
		if(@newCount >0)
			update dbo.BillInfo set count = @FoodCount + @count where idfood = @idFood
		else
			delete dbo.BillInfo where idbill = @idBill and idfood = @idFood
	end

	else
	begin
		INSERT dbo.BillInfo (idbill, idfood, count) VALUES
	(@idBill, @idFood, @count)
	end
end
go
